<!DOCTYPE html>
<html>
<head>
<style> 
.scale {
    display: table-cell;
    height: 100px;
    width: 10px;
}

.label {
    display: table-cell;
    border-width: 4px;
}

.name {
   width: 50px;
}

</style>
</head>
<body>

{{#list}}
<div class="name">{{name}}</div> 
{{#section.frames}}
<div class="scale" style="background-color: rgb({{red}}, {{green}}, {{blue}});"></div>
{{/section.frames}}
{{/list}}
<div>
</body>
</html>

